* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.button {
  padding: 8px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 8px;
  background-color: #F4F4F5;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* todo list style */
.header {
  width: 100%;
  background-color: black;
  color: white;
  padding: 12px;
}

.todo-form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 4px;
}

.list {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.content {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background-color: #F4F4F5;
  padding: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.content-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.check {
  padding: 12px;
  background-color: tomato;
}

/* form style */
.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form-button {
  margin-top: 24px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}